<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comprar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://logodownload.org/wp-content/uploads/2016/09/pagseguro-logo-2.png" width="200px" class="d-inline-block align-top" alt="">
        
        </a>
    </nav>
    <div class="container">
    <div class="card" style="width: 18rem;">
        <img src="https://maudestudio.com/wp-content/uploads/2018/11/1469735446_147909_1469736604_noticia_normal.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Windows 10</h5>
          <p class="card-text">Windows 10, nota 10 como nosso trabalho, multi tarefa.</p>
        
          <form method="POST" action="/adicionar">
            <button class="btn btn-primary" type="submit">Adicionar Produto</button>
        </form>
        <form method="get" action="/usuario">
            <button class="btn btn-success" type="submit">Finalizar</button>
            </form>
        </div>
      </div>
   </div>

    
</body>
</html>