<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sucesso</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="https://logodownload.org/wp-content/uploads/2016/09/pagseguro-logo-2.png" width="200px" class="d-inline-block align-top" alt="">
                
                </a>
            </nav>

        <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Pedido concluido com sucesso!</h4>
                <p>Muito bem, pedido concluido com sucesso! Merece um 10!.</p>
                <hr>
                <p class="mb-0">Acesse agora mesmo a página do checkout do  pag seguro e veja a mágica acontecer.</p>
              </div>
              <a class="btn btn-outline-success" href="http://localhost:3000/">Voltar ao inicio</a>
</body>
</html>