<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dados do usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form action="/finalizar" method="POST">
        <label for="">Nome:</label>
        <input type="text" name="nome">
        <label for="">Email:</label>
        <input type="text" name="email">
        <label for="">Numero do cartão:</label>
        <input type="text" name="cartao">
        <label for="">CVV:</label>
        <input type="text" name="cvv">
        <label for="">Data:</label>
        <input type="text" name="data">
        <button type="submit">Finalizar compra</button>
    </form>
</body>
</html>